#FsmEditor {
	flex-grow: 1;
	background-color: #303030
}

#ParametersPanel {
	margin: 2px;
	max-width: 300px;
	border-width: 1px;
	border-color: rgb(89, 89, 89);
	background-color: #C2C2C2
}

.PanelTitle {
	padding: 4px;
	background-color: rgb(156, 156, 156);
}

.PanelContent {
	flex-grow: 1;
	margin: 2px;
}

.Row {
	flex-direction: row;
}

.SmallButton {
	width: 16px;
	height: 16px;
	-unity-text-align: middle-center;
}
